
.banner {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  overflow: hidden;
  background-image: linear-gradient(rgba(19, 47, 34, .4), rgba(19, 47, 34, .4)), url('field_4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media(md) {
    height: 70vh;
  }

  @include media(lg) {
    height: 80vh;
  }

  .banner__tagline {
    font-size: 1.75rem;
    color: var(--color-tertiary);
    text-shadow: 1px 1px var(--color-text-header), -1px 1px var(--color-text-header), 1px -1px var(--color-text-header), -1px -1px var(--color-text-header);
    width: 80%;
    margin-bottom: var(--space-xxl);
    text-align: center;
    font-weight: bold;

    @include media(md) {
      font-size: 2rem;
      width: 60%;
      margin-bottom: var(--space-xl);
    }

    @include media(lg) {
      font-size: 3rem;
    }
  }

  .banner__join-us {
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}

.title-container {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-l);

  @include media(md) {
    margin-top: var(--space-xxxxl);
  }
}

.title {
  color: white;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 2px var(--color-text-header);
}

.banner__title {
  font-size: 5rem;

  @include media(md) {
    font-size: 6rem;
  }

  @include media(lg) {
    font-size: 8rem;
  }
}

.section__title {
  font-size: 2rem;
  text-align: center;

  @include media(md) {
    font-size: 3rem;
  }
}

.section__title--green {
  color: var(--color-primary);
}

.tab-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: var(--space-m);
  // margin-bottom: var(--space-m);

  @include media(md) {
    margin-top: var(--space-xxxl);
    // margin-bottom: var(--space-xxxxl);
    width: 60%;
  }
}

.why-us__header {

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    background-color: var(--color-primary);
    padding: var(--space-xxxs) var(--space-xs);
    border-radius: var(--border-radius);
    margin-right: var(--space-xxs);
    color: var(--color-white);
    text-align: center;
  }
}

.why-us__body {
  background-color: var(--color-tertiary);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: var(--space-xs) var(--space-l) 0 var(--space-l);
  box-shadow: 2px 2px var(--color-text-header);
  display: flex;
  flex-direction: column;

  @include media(md) {
    margin: var(--space-xs) var(--space-m) 0 var(--space-m);
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    h4 {
      margin-top: 0.5rem;
      text-align: center;
    }
  }

  .why-us__body--title {
    justify-content: center;
  }

  .how-farm-match-helps {
    margin-top: 1rem;
  }

  p {
    text-align: start;
    margin-left: 1rem;
  }
}

.benefits-of-joining__content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-primary);
  padding: 2rem;
  transition: all 0.3s;

  @include media(md) {
    width: 80%;
    border-radius: var(--border-radius);
  }

  @include media(xl) {
    width: 50%;
  }
}

.benefits-of-joining__content.yellow-background,
.how-it-works__content.yellow-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-tertiary);
}

.category-tabs {
  display: flex;
  align-items: center;
  margin-top: var(--space-xxs);

  button:nth-of-type(1) {
    margin-right: var(--space-xxs);
  }
}

.why-and-how {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  // margin-bottom: var(--space-m);

  @include media(md) {
    // margin-bottom: var(--space-xxxxl);
  }
}

.why-and-how-header {
  margin-bottom: var(--space-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.title-buttons {
    display: flex;
    justify-content: center;

  h4 {
    padding: var(--space-xxxs) var(--space-xs);
    border-radius: var(--border-radius);
    margin-right: var(--space-xxs);
    color: var(--color-text-header);
    text-align: center;
  }

  #farmers-button {
    background-color: var(--color-primary);
  }

  #contractors-button {
    border: 2px solid var(--color-tertiary);
  }
}

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -.4rem;
}

.reason-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: var(--space-xs) var(--space-m);
  background-color: white;
  padding: 15px;
  box-shadow: 4px 2px rgba(0,0,0,0.2);
  border-radius: var(--border-radius);

  .icon-background {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  i {
    color: var(--color-text-body);
  }

  h2 {
    margin-top: var(--space-s);
    margin-bottom: var(--space-xs);
    text-decoration: underline;
  }
}

.reason-card--farmers {
  .icon-background {
    background-color: var(--color-secondary);
  }

  h2 {
    text-decoration-color: var(--color-tertiary);
  }
}

.reason-card--contractors {
  .icon-background {
    background-color: var(--color-tertiary);
  }

  h2 {
    text-decoration-color: var(--color-secondary);
  }
}

.how-it-works {
  margin-bottom: 0;

  @include media(md){
    margin-bottom: var(--space-xxxxl);
  }
}

.how-it-works__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
  }

}

.how-it-works__content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-primary);
  transition: all 0.3s;

  @include media(md) {
    border-radius: var(--border-radius);
    width: 80%;
  }

  @include media(xl) {
    width: 65%;
  }
}

.three-steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;


  h1 {
    text-decoration: underline;
  }

  @include media(md) {
    flex-wrap: nowrap;
  }
}

.card {
  text-align: center;
  padding: 20px;
  width: 18rem;
  margin: 1rem;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  box-shadow: 4px 2px rgba(0, 0, 0, 0.2);
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-s)
}

.card__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: var(--space-m);


}

.card__circle--green {
  background-color: var(--color-secondary);
}

.card__circle--yellow {
  background-color: var(--color-tertiary);
}

.three-steps h1.underline--green {
  text-decoration-color: var(--color-secondary);
}

.three-steps h1.underline--yellow {
  text-decoration-color: var(--color-tertiary);
}

.farm-images {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @include media(md) {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
  }

  img {
    width: 18rem;
    margin: 0 var(--space-m);
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    @include media(lg) {
      width: 20rem;
    }

    @include media(lg) {
      width: 28rem;
    }
  }
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-l);

  .join__tagline {
    margin-top: var(--space-m);
    margin-bottom: var(--space-s);
    font-size: var(--font-size-xl);
  }
}

.hidden {
  display: none;
}

main {
  margin-bottom: var(--space-l);
}

.gdpr-link {
  display: flex;
  justify-content: center;
}
