.menu {
  background-color:white;
  display: flex;
  flex-direction: row;
}

.menu__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;

  p {margin-right: 1rem;
  }

  :hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-color: var(--color-tertiary);
  }
}

.menu__logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  img {
    width: 3rem;
    transform: rotate(45deg);
  }
}

.banner {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  overflow: hidden;
  background-image: linear-gradient(rgba(19, 47, 34, .4), rgba(19, 47, 34, .4)), url('field_4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar ul {
  display: flex;
  margin: unset;
}

.title-container {
  margin-top: 6rem;
}

.title {
  color: white;
  font-size: 6rem;
  background: linear-gradient(var(--color-primary), var(--color-primary-rotate), var(--color-tertiary));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  animation: gradient-text 5s ease infinite;
  text-align: center;
}

.three-steps.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.step {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
}
