
<div class="user-card">
  <div class="user-card__header">
    <h4><%= "#{potential_user.name} #{potential_user.surname}" %></h4>
  </div>
  <p><%= potential_user.email %></p>
  <p><%= potential_user.role %></p>
  <p><%= potential_user.county %></p>
</div>
