<% if notice %>
  <div class="notice notice-info">
    <h2> <%= notice["title"] %> </h2>
    <p> <%= notice["message"] %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      x
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="notice notice-info alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      x
    </button>
  </div>
<% end %>
