<% if notice %>
  <div class="notice flash-notice notice-info" data-controller="close-notice">
    <% if notice["title"] %>
      <h2> <%= notice["title"] %> </h2>
      <p> <%= notice["message"] %></p>
    <% else %>
      <%= notice %>
    <% end %>
    <div class="btn-close" data-action="click->close-notice#close">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="notice flash-notice notice-info alert" data-controller="close-notice">
    <%= alert %>
    <div class="btn-close" data-action="click->close-notice#close">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>
<% end %>
