
<div class="container notice gdpr-notice">

  <H1>GDPR Notice</H1>

  <div>
    <h4>Purpose of Data Collection:</h4>
    <p>
      We collect your first name, surname, approximate location and email address to
      understand the level of interest in our service and to keep you informed about our
      launch.
    </p>
  </div>

  <div>
    <h4>Legal Basis for Processing:</h4>
    <p>
      We process your data based on your consent. By submitting this form, you agree to
      our use of your personal data for the stated purposes.
    </p>
  </div>

  <div>
    <h4>Data Retention Period:</h4>
    <p>
      Your data will be retained until the service launch is completed, after which it will be
      deleted unless you opt-in for further communications from us.
    </p>
  </div>

  <div>
    <h4>Your Rights:</h4>
    <p>
      You have the right to access, correct, or delete your personal data.
      You can restrict or object to the processing of your data.
      You have the right to data portability.
    </p>
  </div>

  <div>
    <h4>Data Sharing:</h4>
    <p>
      We do not share your personal data with third parties without your consent, except
      as required by law.
    </p>
  </div>

  <div>
    <h4>Contact Information:</h4>
    <p>
      For any questions or concerns about your data, please contact us at walshk@live.ie
    </p>
  </div>

  <div>
    <h4>Data Protection Officer:</h4>
    <p>
      If you have further questions, you can contact our Data Protection Officer at
      walshk@live.ie
    </p>
  </div>

  <div>
    <h4>Consent:</h4>
    <p>
      By providing your information and submitting this form, you agree to our use of your
      data as described above.
    </p>
  </div>
</div>
