<nav class="menu">
  <div class="menu__logo">
    <%= image_tag "farm-match-logo.png" %>
    <h2>FARM MATCH</h2>
  </div>

  <div class="menu__links">
    <p><a href="#">How it works</a></p>
    <p><a href="#">Farmers</a></p>
    <p><a href="#">Contractors and Farm Workers</a></p>
  </div>
</nav>
<div class="banner">
  <div class="title-container">
    <h1 class="title">FARM <br>MATCH</h1>
  </div>
  <h1>We Connect Farmers to Contractors and Farm Workers</h1>
</div>



<div class="container">
  Container
  <div>
    <button class="btn btn--primary">Button!</button>
    <p>Something </p>
  </div>
</div>


<section>
  <div class="container">
    <h1>How it works</h1>
    <h4>Operating costs on Irish farms have increased dramatically in recent years and the entire Irish agricultural sector has faced unprecedented labour shortages.
Farm Match allows Farmers to post a job and receive quotations from interested peer reviewed Agri Contractors and Farm Workers</h4>
    <%# info %>
  </div>

  <div class="three-steps container">
    <%# section for the three steps %>
    <div class="step">
      <h1>Post a job</h1>
      <h2>Step 1</h2>
      <p>
        Need a job done on your farm? <br>
        No problem, just specify your task on the website and give us some basic details.
        Then leave the rest to us!
      </p>
    </div>
    <div class="step">
      <h1>Get Matched</h1>
      <h2>Step 2</h2>
      <p>
        Match made in Heaven! <br>
        Farm Match has an advanced proprietary algorithm which will match your task to interested
        Agri Contractors and Farm Workers. Review their profiles and then share your contact details
        with whoever you wish to quickly receive quotes.
      </p>
    </div>
    <div class="step">
      <h1>Review the job</h1>
      <h2>Step 1</h2>
      <p>
        Need a job done on your farm? <br>
        No problem, just specify your task on the website and give us some basic details.
        Then leave the rest to us!
      </p>
    </div>
  </div>

  <div class="container">
    <h2>Are you a Farmer, Ag Contractor or Farm Worker?</h2>
    <div>
      <button class="btn btn--primary">Join us</button>
    </div>
  </div>
</section>
